name: CI

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  build-and-publish-static-wodin-site:
    runs-on: ubuntu-latest
    steps:
      - uses: mrc-ide/wodin-builder-action@main
